html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.mainTitle {
  max-width: 100%;
  height: 250px;
  background-image: url(../public/images/path.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: auto;
}

@media (max-width: 600px) {
  .mainTitle {
    background-position: top right;
    background-size: cover;
  }
}

/*
sometimes it's a long wat home,
but we'll get you there safely.

*/
